/* reset css */

* {
    max-resolution: 0;
    box-sizing: border-box;
    /* nella dimensione della width considero il padding */
    padding: 0;
}

/* utilities */

.background-white{
    background-color: white;
}

.background-body-color{
    background-color: #f6f8fa;
}

.button-radius {
    border-radius: 5px;
}

.label-radius {
    border-radius: 10px;
}

.color-backgroud-blu {
    background-color: #43ace9;
}

.color-backgroud-purple {
    background-color: #926ed9
}

.color-backgroud-green {
    background-color: #68bea8;
}

.color-backgroud-orange {
    background-color: #f1a041;
}

.color-backgroud-pink {
    background-color: #d5639e;
}

.color-backgroud-olive {
    background-color: #b0c82f;
}

.font-bold {
    font-weight: bold;
}

.font-color-gray {
    color: #85878b;
}

.font-color-white{
    color: white;
}

/* page rules */

.toboolist-header{
    padding-left: 15px;
    height: 150px;
    border-bottom: 50px solid #f6f8fa;   
    margin-bottom: 30px;
}

header #logo {
    height: auto;
    width: 50px;
    display: inline-block;
    vertical-align: middle;

}

.toboolist-title{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 3rem;

}

.wrapper{
    margin: 0 auto;
    margin: 300px;
    margin-top: 30px;
}

.buttons{
    padding: 20px;    
    border-bottom: 4px solid #f6f8fa;    
}

.task{
    padding: 10px;
    margin-left: 50px;
    border-color: #43ace9;
}

.section{
    padding: 10px;   
    border-color: #d8d8d8; 
    color: #d8d8d8;
}

.lists{
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}